@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	--purple: #6255a4;
	--darkpurple: #40385d;
	--green: #85d1a0;
}
body {
	font-family: 'Poppins', sans-serif;
}
.App {
	max-width: 1400px;
	margin: auto;
}
a {
	text-decoration: none;
	color: #000;
}
li {
	list-style: none;
}
button {
	background-color: var(--green);
	padding: 13px 18px;
	border-radius: 10px;
	color: #fff;
	border: 2px solid var(--green);
	transition: all 0.5s ease;
	font-size: 1.2rem;
	width: fit-content;
}
button:hover {
	background: transparent !important;
	color: #000;
	cursor: pointer;
}
